body {
  background: url("/Users/Tara/projects/weekend_challenges/bowling-challenge/img/basement_miami_2.jpg") no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1 {
  color: white;
  padding-bottom: 150px;
}
table {
  background-color: rgba(0,0,0, 0.5);
  color: white;
  margin: 0 auto;
}

th {
  text-align: center;
}

td {
  text-align: center;
}
