body {
  background: url("/Users/Tara/projects/weekend_challenges/bowling-challenge/img/basement_miami_2.jpg") no-repeat;
  background-size: cover;
  font-family: 'Poiret One', cursive;
  text-align: center;
}

h1 {
  color: white;
  padding-bottom: 150px;
}
table {
  background-color: rgba(0,0,0, 0.5);
  color: white;
  margin: 0 auto;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

button {
  padding: 3px 5px 3px 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Poiret One', cursive;
  background-color: rgba(0,0,0, 0.5);
  color: white;
}
